useDynLib("rmutil")

export(as.data.frame,as.data.frame.response,as.data.frame.tccov,as.data.frame.tvcov,as.data.frame.repeated,
as.matrix,as.matrix.response,as.matrix.tccov,as.matrix.tvcov,as.matrix.repeated,
capply,contr.mean,
covariates,covariates.tccov,covariates.tvcov,covariates.repeated,
covind,covind.default,
dbetabinom,dboxcox,dburr,ddoublebinom,ddoublepois,dgammacount,dgextval,dggamma,dginvgauss,dglogis,dgweibull,dhjorth,dinvgauss,dlaplace,dlevy,dmultbinom,dmultpois,dpareto,dpowexp,dpvfpois,dsimplex,dskewlaplace,
delta,delta.response,delta.repeated,
description,description.default,description.repeated,
dftorep,
finterp,finterp.data.frame,finterp.default,finterp.repeated,finterp.tccov,finterp.tvcov,
fmobj,print.fmobj,print.formulafn,
fnenvir,fnenvir.default,fnenvir.data.frame,fnenvir.tccov,fnenvir.tvcov,fnenvir.repeated,
formula,formula.tccov,formula.repeated,
gauss.hermite,gettvc,
weights.gnlm,df.residual.gnlm,deviance.gnlm,coef.gnlm,vcov.gnlm,print.gnlm,
int,int2,
iprofile,iprofile.default,plot.iprofile,
lin.diff.eqn,lvna,mexp,
model.formulafn,covariates.formulafn,
mprofile,mprofile.default,plot.mprofile,
names,names.response,names.tccov,names.tvcov,names.repeated,
nesting,nesting.response,nesting.repeated,
nobs,nobs.default,nobs.response,nobs.tvcov,nobs.data.frame,
parameters,
pbetabinom,pboxcox,pburr,pdoublebinom,pdoublepois,pgammacount,pgextval,pggamma,pginvgauss,pglogis,pgweibull,phjorth,pinvgauss,plaplace,plevy,pmultbinom,pmultpois,ppareto,ppowexp,ppvfpois,psimplex,pskewlaplace,
plot.residuals,plot.response,plot.repeated,
print.response,print.tccov,print.tvcov,print.repeated,
qbetabinom,qboxcox,qburr,qdoublebinom,qdoublepois,qgammacount,qgextval,qggamma,qginvgauss,qglogis,qgweibull,qhjorth,qinvgauss,qlaplace,qlevy,qmultbinom,qmultpois,qpareto,qpowexp,qpvfpois,qsimplex,qskewlaplace,
rbetabinom,rboxcox,rburr,rdoublebinom,rdoublepois,rgammacount,rgextval,rggamma,rginvgauss,rglogis,rgweibull,rhjorth,rinvgauss,rlaplace,rlevy,rmultbinom,rmultpois,rpareto,rpowexp,rpvfpois,rsimplex,rskewlaplace,
read.list,read.rep,read.surv,
response,response.response,response.repeated,
resptype,resptype.response,resptype.repeated,
restovec,rmna,runge.kutta,tcctomat,
times,times.default,times.response,
transform,transform.response,transform.repeated,transform.tccov,transform.tvcov,
tvctomat,wr,
units,units.default,units.repeated,
weights.response,weights.repeated)
